.body {
 
  font-family: "adobe-clean", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
element.style {
  display: block;
  position: absolute;
  width: 1280px;
  height: auto;
}
.button {
  width: 25%;
  height: 10%;
  border-radius: 40px;
  margin-left:45%;
  margin-right:10%;
  position: relative;

}
.container-fluid{
  background-image: url(./components/ethic.png);
  height:100%;
  width: 100%;
}

/* Container needed to position the button. Adjust the width as needed */


/* Make the image responsive */






.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  /* the rest of your styling */
}


